@import "tailwindcss";

@theme {
  --font-inter: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-libre-baskerville: var(--font-libre-baskerville), ui-serif, Georgia, serif;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .custom-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .custom-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, and Opera */
  }
}